/*Layout*/
body{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: white;
}
body{
    display: grid;
    height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 2fr 10fr 1fr;
    grid-template-areas: 
    "nav"
    "aside"
    "main"
    "footer";
}


nav{
    grid-area: nav;
    background: #01579b;
    height: 13vh;
}

nav img{
    height: 10vh;
    
}

main{
    grid-area: main;
    height: 100vh;
}

aside{
    grid-area: aside;
    background-color: #e1e2e1;
    color: black;
}

footer{
    grid-area: footer;
    background-color: #002f6c;
}

.productos{
    box-shadow: 1px 1px 5px 1px #e1e2e1;
}

@media screen and (min-width: 576px){
    body{
        grid-template-columns: 20% 80%;
        grid-template-rows: 1fr 10fr 1fr;
        grid-template-areas: 
        "nav nav"
        "aside main"
        "footer footer";
    }
    .contenedor-botones{
        
    }
}

@media screen and (min-width: 992px){
    body{
        grid-template-columns: 15% 85%;
        grid-template-areas: 
        "aside aside"
        "nav main"
        "footer footer";
    }
    nav{
        height: 100vh;
    }
    
}

/*Componentes*/

.boton.uno span{
    transition: .5s ease-in-out all;
    position: absolute;
}

.boton.uno .icono {
	display: flex;
	align-items: center;
	position: absolute;
	z-index: 2;
	left: -10px;
	transition: .3s ease-in-out all;
	opacity: 0;
}

.boton.uno svg {
	color: #fff;
	width: 20px;
	height: 20px;
}

.boton.uno:hover {
	background: #ff5100;
}

.boton.uno:hover .icono {
	left: calc(100% - 50px);
	opacity: 1;
}

.boton.uno:hover span {
	left: 10px;
}
.contenedor-botones {
	width: 100%;
	gap: 100px;
    margin-top: 10px;
}
.boton {
    margin-top: 10px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 30px;
	background: #002f6c;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 500;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	transition: .3s ease all;
	border-radius: 5px;
	position: relative;
	overflow: hidden;
}
.card button{
    background: #01579b;
}

.productos{
    overflow-y: scroll;
    height: 65vh;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.boton.dos::after {
	content: "";
	width: 1px;
	height: 1px;
	background: none;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transition: .3s ease-in-out all;
	border-radius: 100px;
	transform-origin: center;
}

.boton.dos:hover::after {
	transform: scale(400);
	background: #cc1010;
}

.main img{
    transition: all 300ms;
    position: relative;
}

main img:hover{
    transform: scale(1.15);
}

main p{
    font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 500;
}


/*Medias*/

@media screen and (min-width: 576px){
  .productos{
    height: 70vh;
    grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 992px){
    .productos{
      height: 75vh;
      grid-template-columns: repeat(4, 1fr);
      }
  }

  nav ul li{
    margin-top: 10px;
  }
